!!!html5
%html
  %head
    %title Where's Waldo
    %meta{:name => "viewport", :content => "initial-scale=1.0, user-scalable=no"}
    %script{:type => "text/javascript", :src => "https://www.google.com/jsapi"}
    %script{:type => "text/javascript", :src => "../js/globe.js"}
    %link{:rel => "stylesheet", :href => "../stylesheets/reset.css"}
    %link{:rel => "stylesheet", :href => "../stylesheets/styles.css"}
  %body
    #globe.globe-container
    :javascript
      google.setOnLoadCallback(waldo.globe.initialise);
